body {
  overflow: scroll;
  font-family: Poppins, sans-serif;
}
.header {
  font-family: Poppins, sans-serif;
  position: fixed;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #029afa;
  box-sizing: border-box;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.write {
  color: black;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 7rem;
  font-size: 4rem;
}

.tombol {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

button {
  background-color: #029afa;
  padding: 30px 50px;
  font-size: 16px;
  border: none;
  color: #fff;
  font-family: Poppins, sans-serif;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 3rem;
}

.tentang h2 {
  justify-content: center;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.tentang h3 {
  justify-content: center;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.tentang p {
  justify-content: center;
  margin: 0% 15%;
  display: flex;
  align-items: center;
  text-align: center;
}

.medsos-tentang {
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  padding: 0px 40%;
  cursor: pointer;
}
